@use "@chapter-39/shared-template/styles/reset" as *;
@use "@chapter-39/shared-template/styles/root" as *;
@use "@chapter-39/shared-template/styles/variables";

.top-right-cta {
  top: variables.$grid * 2;
  right: variables.$grid * 2;
  position: absolute;
}
